# Node
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
